<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shrek Tribute Page</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    
    <section>
        <header>
            <img src="shrek2.jpg" alt="Shrek">
            <h2> <a href="#" class="logo">Shrek</a></h2>
            <div class="naviagation">
                <a href="#">Home</a>
                <a href="#">Story</a>
                <a href="#">Family</a>
                <a href="#">Fun Facts</a>
                <a href="#">Pictures</a>
            </div>
            <label>
                <i class="fas fa-bars menu-btn"></i>
                <i class="fas fa-items close-btn"></i>
            </label>
        </header>
        <div class="content">
            <div class="info">
                <h2>Shrek is love. <br><span>Shrek is life.</span></h2>
                <p></p>
            </div>
        </div>
    </section>

</body>
</html>